ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
ul li{
    float: left;
    width: 170px;
    height: 40px;
    background-color: black;
    opacity: .8;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    margin: 2px;
}
ul li a{
    text-decoration: none;
    color: white;
    display:block;
}
ul li a:hover{
    background-color: green;
}
ul li ul li{
    display:none;
}
ul li:hover ul li{
    display: block;
}
body{
    background-color: #FEF9E7;
}
h1{
color: #2980B9;
}
a{
color: #D35400;
}
a:hover{
        background-color: #FFFB33;
}
