body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:center ;
    align-items: center;
    height: 100%;
    background: #000000;
    font-family: 'Brush Script MT';

}
h1{
    margin: 0;
    padding: 0;
    color: #111111;
    font-size: 8em;
}
h1 span{
    display: table-cell;
    margin: 0;
    padding: 0;
    animation: animate 2s linear infinite;
}
h1 span:nth-child(1)
{
    animation-delay: 0.25s;
}
h1 span:nth-child(2)
{
    animation-delay: 0.45s;
}
h1 span:nth-child(3)
{
    animation-delay: 0.60s;
}
h1 span:nth-child(4)
{
    animation-delay: 0.80s;
}
h1 span:nth-child(5)
{
    animation-delay: 0.97s;
}
h1 span:nth-child(6)
{
    animation-delay: 1.25s;
}
h1 span:nth-child(7)
{
    animation-delay: 1.55s;
}

@keyframes animate{
    0%,100%
    {
        color: #ffffff;
        filter: blur(2px);
        text-shadow: 0 0 10px #00b3ff;
                    0 0 20px #00b3ff;
                    0 0 40px #00b3ff;
                    0 0 80px #00b3ff;
                    0 0 120px #00b3ff;
                    0 0 200px #00b3ff;
                    0 0 30px #00b3ff;
                    0 0 40px #00b3ff;
    }
    5%,95%
    {
        color: #111111;
        filter: blur(0px);
        text-shadow: 0 0 10px none;
    }
}
.container{
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}
.container .card
{
    position: relative;
    max-width: 200px;
    height: 400px;
    background: #ffffff;
    margin: 30px 10px;
    padding: 20px 15 px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
}
.container .card:hover
{
    height: 400px;
}
.container .card .imgbox
{
    position: relative;
    width: 190px;
    height: 200px;
    top: -40px;
    left: 20px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}
.container .card .imgbox img
{
    max-width: 100%;
    border-radius: 4px;
}
.container .card .content
{
position: relative;
margin-top: -140px;
padding: 10px 15px;
text-align: center;
color: #111111;
visibility: hidden;
opacity: 0;
transition: 0.3s ease-in-out;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container .card:hover .content{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}
