.about{
    padding: 40px 0;
  }
  .about .title{
    font-size: 35px;
    font-weight: 700;
  
  }
  .para{
    font-size: 35px;
    font-weight: 700;
    background-color: antiquewhite;
  }
  .about p{
    padding-top: 20px;
    text-align: justify;
    font-size: 20px;
  }

*{
      margin: 0;
      padding: 0;
     box-sizing: border-box;
}

h1{
    font-size: 45px;
    position: relative;
    letter-spacing: 15px;
    text-align: center;
    text-shadow: 0 0 30px rgb(46, 109, 138);
}
.gallery{
width: 1000px;
margin: 0 auto;
position: relative;

}
.gallery_photo{
    width: 250px;
    height: 250px;
    border-radius: 2px;
    box-shadow: 0 20px 40px rgb(131, 133, 134);
    position: absolute;
    z-index: ;
}
.gallery_photo--1{
    top: 0;
    left: 0;
}
.gallery_photo--2{
    top: 0;
    right: 0;
}
.gallery_photo--3{
    top: 40px;
    right: 100px;
}
.gallery_photo--4{
    top: 60px;
    left: 90px;
}
.gallery_photo--5{
    top: 80px;
    left: 300px;
}
.gallery_photo--6{
    top: 90px;
    right: 300px;
}
.gallery_photo:hover{
    transform: scale(1.05) translate(-20px);
    z-index: 20;
}
.gallery:hover .gallery_photo:not(:hover){
    transform: scale(0.9);
}