body{
    background-image: url('images/introbg.gif');
    height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
details > summary {
    padding: 4px;
    width: 200px;
    background-color:none;
    border: none;
    box-shadow: none;
    cursor: progress;
  }
  